body {
  background-color:#FCEF88;
}
p {color: #000000
}

h1 {color: #2CA82C; background-color: #000000; padding: 50px; text-align: center; margin: 50px 0 50px 0;
}

a {color: #2CA82C; text-decoration: none;
}

.relatedinfo {border: solid 1px #444444; padding: 20px; background-color: #eeeeee; width: 50%; border-radius: 20px;}