
ol {
  background-color: #EBE8CC;
  padding: 22px;
  border-radius: 10px;
}

li {
  margin-bottom: 15px;
}

body {
background-color: #F5F2DA ;

}

h1{
	center;
}

body,h1, h2,h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        padding: 20px;
      }


        .photo-item {
        background-color: #F5F2DA; 
        height: 200px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px; 
        overflow: hidden;
      }

      .photo-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }

